@font-face {
    font-family: 'Titillium Web', sans-serif;
    src: url(https://fonts.googleapis.com/css2?family=Share+Tech+Mono&family=Titillium+Web:wght@200;600&display=swap);
}

.tech {
    font-family: 'Titillium Web', sans-serif;
    color: rgb(206, 230, 72);
    text-shadow: 0px 0px 4px rgb(187, 230, 34);
}

input {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    color: rgb(0, 218, 47);
    text-shadow: 0px 0px 4px rgb(22, 202, 187);
  }

.form-control:focus {
    font-family: 'Titillium Web', sans-serif;
    color: rgb(0, 218, 47);
    text-shadow: 0px 0px 4px rgb(22, 202, 187);
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

.btn-primary {
    font-family: 'Titillium Web', sans-serif;
    color: rgb(207, 207, 42);
    text-shadow: 0px 0px 4px rgb(187, 230, 34);
    background-color: rgb(56, 78, 12);
    box-shadow: 0px 0px 10px yellowgreen;
    border-top-style: groove;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    border-color: yellow;
}

.btn-primary:disabled {
    box-shadow: none;
    color:rgb(27, 26, 29);
    text-shadow: none;
    border-color: rgb(27, 26, 29);
}

.typewriter {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .60em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }

  .typewriter2 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end);
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }