<div class="card position-absolute top-50 start-50 translate-middle" style="margin-top: 101vh; width: 22rem; background-color: rgb(28, 28, 29);">
    <div class="card-body">
<h2 class="text-center tech typewriter2" style="letter-spacing: 0.3rem; background-color: rgb(15, 15, 15);"> HADLEY'S HOPE</h2>
<h6 class="text-center tech typewriter2" style="letter-spacing: 0.58rem; background-color: rgb(15, 15, 15);">COLONIAL NETWORK</h6>
<br>
<h6 class="text-center tech typewriter" style="background-color: rgb(38, 38, 38); margin-top: -2vh;">REGISTRO DE NUEVO COLONO</h6>
<br>
<br>
<form style="margin-top: -4vh;" [formGroup]="myForm" (ngSubmit)="registro()">

    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label tech typewriter2" style="font-size:12px;">[ NOMBRE ]</label>
      <input style="background-color: black;" type="text" class="form-control" id="exampleInputEmail1" formControlName="name">
      <div *ngIf="myForm.get('name').errors && myForm.get('name').dirty" style="color:red; font-size:11px; background-color: black; margin-top: 1vh;">
          ERR_name_required
      </div>
    </div>

    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label tech typewriter2" style="font-size:12px;">[ APELLIDO ]</label>
      <input style="background-color: black;" type="text" class="form-control" id="exampleInputEmail1" formControlName="lastname">
       <div *ngIf="myForm.get('lastname').errors && myForm.get('lastname').dirty" style="color:red; font-size:11px; background-color: black; margin-top: 1vh;">
           ERR_lastname_required
       </div>
    </div>

    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label tech typewriter2" style="font-size:12px;">[ NÚMERO_TELEFÓNICO ]</label>
      <input style="background-color: black;" type="text" class="form-control" id="exampleInputEmail1" formControlName="phone">
    </div>

    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label tech typewriter2" style="font-size:12px;">[ CORREO_ELECTRÓNICO ]</label>
      <input style="background-color: black;" type="email" class="form-control" id="exampleInputEmail1" formControlName="user">
        <div *ngIf="myForm.get('user').errors && myForm.get('user').dirty" style="color:red; font-size:11px; background-color: black; margin-top: 1vh;">
            ERR_email_required
        </div>
    </div>

    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label tech typewriter2" style="font-size:12px;">[ CONTRASEÑA ]</label>
      <input style="background-color: black;" type="password" class="form-control" id="exampleInputPassword1" formControlName="password">
         <div *ngIf="myForm.get('password').hasError('required') && myForm.get('password').dirty" style="color:red; font-size:11px; background-color: black; margin-top: 1vh;">
            ERR_password_required
        </div>
        <div *ngIf="myForm.get('password').hasError('minlength') && myForm.get('password').dirty" style="color:red; font-size:11px; background-color: black; margin-top: 1vh;">
          ERR_password_minlength=6
        </div>
        <div *ngIf="myForm.get('password').hasError('maxlength') && myForm.get('password').dirty" style="color:red; font-size:11px; background-color: black; margin-top: 1vh;">
          ERR_password_maxlength=10
        </div>      
    </div>

    <br>
    <button type="submit" class="btn btn-primary container-md" [disabled]="myForm.invalid" style="margin-top: -3vh;">[ CONFIRMAR ]</button>
  </form>
</div>
</div>

